<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="https://cdn-icons-png.flaticon.com/512/526/526190.png" alt="" style="height: 50px; width: 50px; margin-left: 95px;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong style="color: black;">¿Qué ingredientes tenemos?</strong>
  </div>
</ion-content>

<button>
  <ion-card style="position: relative; top: -210px; text-align: center; background-color: #9C1B1B; color: white; font-weight:bold;">
    <ion-card-header>
      <ion-card-title>Refrigerador</ion-card-title>
    </ion-card-header>
  </ion-card>
</button>

<button>
  <ion-card style="position: relative; top: -180px; text-align: center; background-color: #9C1B1B; color: white; font-weight:bold;">
    <ion-card-header>
      <ion-card-title>Alacena</ion-card-title>
    </ion-card-header>
  </ion-card>
</button>

<button>
  <ion-card style="position: relative; top: -150px; text-align: center; background-color: #9C1B1B; color: white; font-weight:bold;">
    <ion-card-header>
      <ion-card-title>Buscar platillo</ion-card-title>
    </ion-card-header>
  </ion-card>
</button>